<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include common/head.ejs %>
    </head>
    <body>
        <div id="wrapper">
            <%- include common/navigation %>
            <%- include common/body.ejs %>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <%- include common/foot.ejs %>
    </body>
</html>
