<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">실시간 채팅 with socket.io</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="chat-panel panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-comments fa-fw"></i> 채팅
                    <br>
                    <ul id="roomList">
                        <li>1번방</li>
                        <li>2번방</li>
                    </ul>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <ul class="chat">
                    
                    </ul>
                </div>
                <!-- /.panel-body -->
                <div class="panel-footer">
                    <div class="input-group">
                    <!-- 채팅 내용 입력 -->
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                    <!-- 채팅 내용 보내기 -->
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send
                            </button>
                        </span>
                    </div>
                </div>
                <!-- /.panel-footer -->
            </div>
            <!-- /.panel .chat-panel -->
        </div>
    </div>    
</div>