<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ../common/head.ejs %>
    </head>
    <body>
        <div id="wrapper">
            <%- include ../common/navigation %>
            <%- include main_body.ejs %>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <%- include ../common/foot.ejs %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
        // 문서가 준비되었다. => html이 메모리에 로드 되었다. => DOM 완성되었다. => 문서 조작 가능한 타이밍
            $(document).ready(function(){
                // alert('load complete');
                // form 데이터 전송 이벤트
                $('form').on('submit', (evt) => {
                    // 이벤트 종료
                    evt.preventDefault();
                    
                    // 전달 데이터의 파라미터 처리
                    console.log('->',$('form').serialize());
                    // 검색 진행
                    // get 방식 ajax 통신
                    $.get({
                        url:'/main/search',
                        data:$('form').serialize(),
                        dataType:'json',
                        success:function(data){
                            console.log('검색 성공 : ', data);
                            if(data.code === 0) {
                                alert('검색 결과 없음');
                                // 검색창 초기화
                                $('input[name=searchTeam]').val('');
                                return;
                            }
                            $('#searchResult').empty();
                            $.each(data.data, (idx, item) => {
                                console.log( idx, item );
                                var html = "<tr><td>" + item.rank + "</td>"+
                                            "<td>" + item.name + "</td>" +
                                            "<td>" + item.winPoint +"</td></tr>";  					
                                $('#searchResult').append(html);
                                /*
                                $('#searchResult>tr:last').on('click', (evt)=>{
                                    alert(item.name);
                                })
                                */
                            });
                            // 결과 화면 보이기
                            $('#searchFrame').css('display', 'block');
                        },
                        error:function(err){
                            alert('검색 실패: ' + err);
                        }
                    });
                    
                    $('#searchResult').on('click', 'tr', function() {
                        var name = $(this).find('td:nth-of-type(2)').text();
                        alert(name);
                    });
                    // 발생한 이벤트에 대한 반환 않함
                    return false;
                });
            });
        </script>
    </body>
</html>
