<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <%- include top_left.ejs %>
    <%- include top_right.ejs %>
    <%- include menu.ejs %>            
</nav>