<div class="navbar-header">
    <!-- 모바일 버전에서 메뉴 리스트 뿌려주는 버튼 데코 -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <!-- 왼쪽 상단 사이트명 표시부 -->
    <a class="navbar-brand" href="/"><%= title %>&nbsp;[<%=name%>님 ...]</a>
</div>
<!-- /.navbar-header -->